<% provide(:title, 'About') %>
<h1>About us</h1>
			<p>
				This is the help page for the
				<a href="http://mail.yandex.ru/">Ruby on Rails Test</a>
				To get help on this sample app, see the sample application.
				<a href="http://loh.com">Ruby on Rails Tests</a>
			</p>