<% provide(:title, 'Home') %>
<!DOCTYPE html>
	<html>
		<head>
			<title>ROR | <%= yield(:title) %></title>
		</head>
		<body>
			<h1>Sample App</h1>
			<p>
				This is the home page for the
				<a href="http://mail.yandex.ru/">Ruby on Rails Test</a>
				sample application.
			</p>
		</body>
	</html>